<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="user">User name</label>
      <input type="text" id="user" name="user"/>
      <label for="message">Message</label>
      <input type="text" id="message" name="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
